<html>
    <head>
        <meta charset="utf-8"/>
        <title>Erro no servidor</title>
    </head>
    <body>
        <div align='center'>
            <h2>Erro...</h2>
            <br/>
            <p>Um erro aconteceu :(</p>
            <p>O nosso time tรก correndo pra corrigir</p>
        </div>
    </body>
</html>