<html>
    <head>
        <meta charset="UTF-8">
        <title>Produtos</title>
    </head>
    <body>
        <table border="1px">
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Preço</td>
            </tr>
            <% for(let i=0; i<lista.length; i++) {%>
                <tr>
                    <td><%= lista[i].id %></td>
                    <td><%= lista[i].titulo %></td>
                    <td><%= lista[i].preco %></td>
                    <td><%= lista[i].descricao%></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>
