<html>
    <head>
        <title>Produtos</title>
    </head>
    <body>
        <table border="1px">
            <tr>
                <td>Id</td>
                <td>Nome</td>
            </tr>
            <tr>
                <td>01</td>
                <td>Node.js e Express</td>
            </tr>
        </table>
    </body>
</html>